body {
    background-color:#000000;
}

.banner {
    background:url('/assets/images/banner.png'), no-repeat, linear-gradient(to bottom, #030709, #030709 10%, #0a1b23 50%, #030709 95%);
    background-size: cover;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #2189c7;
}

h2 {
    font-size: 2rem;
    color:#2189c7;
    text-transform:uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#2189c7, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
  }

.banner .banner-content {
    text-align:center;
    color: white;
    width: 500px;
    margin: auto;
}    

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
  }

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button {
    color: #2189c7;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#2189c7, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
  }
  

#course-content{
    width: 800px;
    text-align: center;
}

#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #2189c7;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}    

#course-content .modules-list .module span {
    color: #2189c7;
  }

section{
    margin: 100px auto;
}

p {
    color: white;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
  }


#transform-world {
    padding:200px;
    height:560px;
    background-size: cover;
    background-image: url('/assets/images/woman-code.png');
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}    

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
  }

#professional-challenges {
    margin-top: -30px;
    padding:50px 58px;
    text-align:center;
    background-color:#000000;
}

footer {
    border-top: solid  #2189c7;
    margin-top: -10px;
    padding:50px 580px;
    text-align:center;
    background: linear-gradient(to bottom, #030709, #030709 10%, #0a1b23 50%, #030709 95%);
}